<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view>
  <ion-content animation="my-animate" class='adoptBack' scroll="false" has-header="false" has-tabs="false">

  <div class='aboutPage'>
	 	<a id="unMenu3" class="button button-clear button-icon icon ion-arrow-return-left" href="#/tab/adopt"></a>
<button id="unMenu" class="button button-clear button-icon icon ion-navicon" ng-click="open_menu()"></button>
<br><br>


   <div class="card">
  <div class="item item-divider">
    Why is this app so awesome?
  </div>
  <div class="item item-text-wrap">
    This apps awesomeness stems from you and your college, so give your self a big ol' pat on the back.
  </div>
  <div class="item item-divider">
    Can anyone get into the app?
  </div>
  <div class="item item-text-wrap">
    Nope, the app is smart enough to know whether you are a student or not. We believe in a space for student eyes only.
  </div>
  <div class="item item-divider">
    A Third Interesting Question?
  </div>
  <div class="item item-text-wrap">
    Another exquisitely informative, yet deeply engaging answer.
  </div>

	</div>
    </div>
  </ion-content>
</ion-view>
