<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view>
  <ion-content animation="my-animate" class='adoptBack' scroll="false" has-header="false" has-tabs="false">
  <div>

      <button id="unMenu" class="button button-clear button-icon icon ion-navicon" ng-click="open_menu()"></button>

   <i id='adoptPic2' class="icon ion-ios7-plus"></i>
    <h3 id='adoptHead'>Add an Event</h3>
    <h4 id='adoptSub'>Spread the word about your events to students ONLY.</h4>
    <br><br>
    <a href="mailto:UNRepTeam@gmail.com?subject=Awesome New Event&body=Required Info: name of the event, date, starting time, location of the event, event description, event photo" class="adoptBtnLong button button-stable">
  				Submit
		</a>
				<p></p>
		<!-- <button class="adoptBtnLong button button-stable">
			Frequently Asked Questions
		</button> -->
    </div>
  </ion-content>
</ion-view>
