<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view title="Help">
  <ion-content has-header="true" has-tabs="true">
    <h3>Emergency? Or just curious?</h3>
    <p>We're here for you, so please reach out!</p>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Your name</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Your email</span>
        <input type="email">
      </label>
      <ion-toggle>Drop us a Note.</ion-toggle>
      <button class="button button-positive button-block">Word.</button>
    </div>
  </ion-content>
</ion-view>
