<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<ion-view>
	  <ion-content class='expandedEvent' has-header="false" padding="false">
	  <a id='eventLink'class="topBtn" href="#/tab/events">
	   <i class="icon ion-android-storage"> All Events</i>
	 	</a>
	  <a id="shareBtn" class="topBtn" ng-click='show()'>
	      <i class="icon ion-share"> Share</i>
	 	</a>
	  		<div id='singleEventContent'>
	    		<img src="{{singleEvent.cover}}">
	    		<br>


	    		<p>{{ singleEvent.name }}</p>
	    		<div class="list card">
						  <div class="item item-divider item-icon-left">
						  	<i class="icon ion-home"></i>
						    Event Description:
						  </div>

						  <div class="item item-text-wrap">
						  	<i class="icon ion-home"></i>
						    {{ pageBreak(singleEvent.description) }}
						  </div>

					  	<div class="item item-icon-left">
			    			<i class="icon ion-home"></i>
			    			{{ singleEvent.location }}</div>

			    		<div class="item item-icon-left">
			    			<i class="icon ion-home"></i>
			    			{{ singleEvent.start_time }}</div>
					</div>

	 			 </div>


  </ion-content>
</ion-view>
