<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view>
  <ion-content animation="my-animate" class='adoptBack' scroll="false" has-header="false" has-tabs="false">

  <div class='aboutPage'>
	 	<a id="unMenu3" class="button button-clear button-icon icon ion-arrow-return-left" href="#/tab/school-index"></a>
	 	<i id='adoptPic' class="icon ion-ios7-people"></i>
<br>
<div class="card">
  <div class="item item-text-wrap">
    Sorry, we couldn't verify that you were a student at this school, and this app is for student eyes only. If you are a student, enter your personal, valid university email address.
  </div>
</div>

<div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Email">
    </label>
    <button class="button button-small">
      Submit
    </button>
  </div>

</div>
    </div>
  </ion-content>
</ion-view>
