<!--
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js)
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Event Information">
  <ion-content has-header="false" has-tabs="false">

    <ion-list>

 				<ion-item href="#/tab/event/{{event.id}}" ng-repeat="event in events" type="item-text-wrap" id='eventListWrapper'>
 					<div id='eventListItem'>

		        <h3>{{event.name}}</h3>
		        <img src="{{event.cover}}" id='eventListImg'>
		        <p>{{event.location}}</p>
		        <p>{{event.start_time}}</p>
		       </div>
      	</ion-item>

    </ion-list>

  </ion-content>
</ion-view>
