<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view>

  <ion-content scroll="false" has-header="false" has-tabs="false">


<!-- <div id='shadow'> -->
  <div id='wholeEventsPage' >
  	<div id="unLogo">

  		</div>
<ion-list id='eventList'>
	  <!--   <button class="button" ng-click="fbLogin()" id="fb-connect">Connect to facebook</button>
            <p>{{userName}}</p> -->
	    	<scroll style="height:500px">
  <div class='schoolPage'>
  	<p></p>
  	<h1>Pick Your School</h1>
<!-- class="row responsive-sm" -->
<a href="#/tab/events" class="button button-outline button-light">
   SUNY Binghamton
</a>
<br><br><br>
<a href="#/tab/login2" class="button button-outline button-light">
    Central Michigan
</a>
<br><br><br>
<a href="#/tab/login2" class="button button-outline button-light">
   George Washington
</a>
<br><br><br>
<a href="#/tab/login2" class="button button-outline button-light">
    Michigan State
</a>
<br><br><br>
<a href="#/tab/login2" class="button button-outline button-light">
    SUNY Oneonta
</a>
<br><br><br>
<a href="#/tab/login2" class="button button-outline button-light">
    Central Florida
</a>
<br><br><br>
<a href="#/tab/login2" class="button button-outline button-light">
    U of Hawaii (Manoa)
</a>
<br><br><br>
<a href="#/tab/login2" class="button button-outline button-light">
    U of Illinois (UIUC)
</a>
<br><br><br>
<a href="#/tab/login2" class="button button-outline button-light">
    U of Michigan
</a>

    </div>
    </scroll>
  </ion-list>
</div>
   </ion-content>
</ion-view>
