
<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<!-- <ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default"> -->

<!-- <ion-tab title="Pets" icon="icon ion-home" href="#/tab/pets"> -->
    <!-- <ion-nav-view name="pets-tab"></ion-nav-view>
  </ion-tab> -->

  <!-- Adopt Tab -->
  <!-- <ion-tab href="#/tab/adopt"> -->
    <ion-nav-view href="#/tab/adopt" name="adopt-tab"></ion-nav-view>
 <!--  </ion-tab> -->

  <!-- Events Tab -->
<!--   <ion-tab href="#/tab/events"> -->
    <ion-nav-view href="#/tab/events" name="events-tab"></ion-nav-view>
  <!-- </ion-tab> -->


<ion-nav-view href="#/tab/about" name="about-tab"></ion-nav-view>


  <!-- About Tab -->
 <!--  <ion-tab href="#/tab/about">
   <ion-nav-view href="#/tab/adopt" name="adopt-tab"></ion-nav-view>
  </ion-tab> -->


<!-- </ion-tabs> -->
