/* Your app's CSS, go crazy, make it your own */

/*a.item:after, button.item:after, .item a[href].item-content:after, .item[ng-click] a.item-content:after {
	display:none !important;
}*/
/*
.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}*/

/*#cardHead h3{
	bottom: 4px;
}*/

/*#cardID{
	padding-left: 42px;
	padding-right: 42px;
	margin-left: 15px;
}*/
/*#eventsPageBorder{
	background-color: black;
}*/
/*
html {
  background-image: url("../images/transBackground.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/




/*border-image-source: url("../images/shadowEvents.png");*/
#wholeEventsPage{
/*	background-color: DimGray;*/

	/*border: 25px solid;*/
	/*border-color: black;*/
	/*border-image-width: 20px;*/
	/*border-image-outset: 14px;*/
/*	border-image-repeat: round;*/
		/*margin: 40px;*/
	/*	padding: 40px;*/
	/* background-size: cover;*/
/*	padding-right: 30px;*/
/*	float: left;*/
	/*z-index: 15;*/
		background-image: url("../images/transBackground.png");
		z-index: .1;
		background-size: cover;
		top:0px;

		height: 76%;
/*	width: 80%;*/
		margin: 0px;

}

/*	overflow: hidden;
/*	max-height: 600px;
	height: 600px;*/
	/*padding:40px;*/
/**/
/*
#shadow{
		background-image: url("../images/shadowEvents.png");
		z-index: 2;
		background-size: cover;
		margin-top: 0px;
		padding-top: 0px;
		border-top: 0px;
		top:0px;
		left: 0px:;
		right:0px;
		opacity: .8;
}*/
/*#wholeEventsPage .green-box{
		background-image: url("../images/transBackground.png");
		z-index: 1;
		background-size: cover;
		border-radius: 5%;
}*/

/*#eventBack img{
	background-image: url("../images/transBackground.png");
	background-position: center;
	background-repeat:no-repeat;
	z-index: .5;
	margin: auto;
}*/

/*#wholeEventsPage{*/
/*	background-image: url("../images/outsideMesh.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding: 5%;
	border-style: outset;
	border-width: thick;
	background-color: black;
	height: 700px;
	width:500px;
	position: relative;*/
/*}*/

/*#eventListItem h3{
	text-align: center;
}*/
/*
<img src="https://scontent-b-iad.xx.fbcdn.net/hphotos-prn2/t31.0-8/1049209_215389658608791_602266005_o.png" height="72%" width="93%">*/


#unLogo{
	 position:fixed;
	 background-image: url("../images/UNLogoApp.png");
	 background-repeat: no-repeat;
	 background-size: 83% 65%;
	 background-position: center;
	 height: 50%;
	 width: 100%;
	 /*width: 100%;*/
	 /*height:  50%;*/
	 top: 8%;
	 padding-top: 4%;
	 z-index: 20;
	 max-width:100%;
	 max-height: 40%;
	 margin: 0px;
	 text-align: center;

	/* padding-left: 11%;
	 	padding-right: 2.5%;*/
}

/*.centerContainer{
	background-image: url("../images/transBackground.png");
	background-position: contain;
	background-repeat:no-repeat;
	background-color: red;
	background-size: 130%;
/*	background-size: 110%;
}*/

#eventWrapper{
	/*margin-right: 0px;*/
/*	margin-left: 0px;
	margin-right: 0px;
	/*	margin-top:57px;*/
/*	padding-right: 0px;*/
	border: none;
	top:25px;
	opacity: .5;
	text-align: center;
	border-radius: 10%;
	margin: 10px;
	background-image: url("../images/transBackground.png");
	background-size: auto;
	background-position: center;
	z-index: 5;
	position: relative;
}

#eventWrapper hr{

/*	bottom: 10px;*/
	margin-bottom: 32px;
	border-color: black;

}

#eventWrapper h3{
	color:white;
	font-style: italic;
}

#eventWrapper p{
	font-size: 14px;
}

#eventWrapper button{
	color: white;
}

#eventList{
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	height: 430px;
	width: 100%;
	text-align: center;
	padding-top: 45%;
	overflow: auto;
	overflow-scrolling: auto;
	-webkit-overflow-scrolling: touch;
/*	z-index: 2;*/
	/*position: absolute;*/

}


.item-body{
	margin: auto;
	padding: auto;
	border:1px solid black;
	text-align: center;
	z-index: 0;
}

.item-content{
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	width: 90%;

}

.ng-binding{
	vertical-align: center;
}

/*#eventListingInfo {
	opacity:.9 !important;
	z-index: 5 !important;
}*/

/*single event listing
/*#eventListWrapper{
	position: relative;
	background-color: blue;
/*  background: #fff;*/
/*	padding-left: 7%;*/
/*}*/


/*#eventListImg{
	max-height: 200px;
	max-width: 200px;
}*/

#singleEventContent img{
	max-height: 250px;
	max-width: 250px;
	margin-left: 36px;
}

#singleEventContent p{
	padding-left: 42px;
	padding-right: 42px;
}

.fade-bar {
  height: 20px;
  width: 10%;
  position: fixed;
  z-index: .5;
  opacity: 0;
  background-color: #000;
}

#unMenu{
	float: left;
	z-index: 0;
	height:0;
	width:5%;
	padding-left: 7%;
	padding-top: 5.5%;
	max-width: 8%;
	color: transparent;
}

.full-image {
	position: relative;
	margin-top: 5%;
	max-width: 63%;
	border-radius: 55%;
	/*border-top: 0px;*/
	/*border-image: url("../images/transimg.gif");*/
/*	border: 0px;*/
	border-style: inset;

/*	border-top-width: 10px;*/
	border-width: 10px;
		border-color: DimGray;
}

.item{
	width: 100%;
	height: 100%;
	padding-right: 0px;
	margin-right: 0px;
	border: none;
	background-image: url("../images/transimg.gif");
	background-position: center;
	background-repeat: repeat;

}

.item-complex{
	padding-right: 0px;
	margin-right: 0px;
}

#helpBtn{
	float: left;
	padding-left: 3.2%;
	padding-top: 7.4%;
	color: blue;

}

#eventBtn{
	float: left;
	padding-left: 3.2%;
	padding-top: 7.4%;
	color: blue;

}


/*<link href="css/ionicons.css" rel="stylesheet" type="text/css" media="screen" />*/
